
/* 教顏色
    coolor選色網站
    color contrast checker給你評分
*/


body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #ACE6D4;
    color: 111345;
}